.add-to-car {
  /* 相对视口，确保 translateX/Y 移动时坐标计算基准是固定的 */
  position: fixed;
  color: #fff;
  font-size: 23rem;
  line-height: 40rem;
  text-align: center;
  z-index: 9;
  margin-left: -20rem;
  margin-top: -20rem;
  left: 0;
  top: 0;
  transition: 0.5s linear;
  /* ease 会加速；linear 匀速-抛物线横向匀速 */
  /* transition 添加中间过渡效果 */
}

.add-to-car .iconfont {
  width: 40rem;
  height: 40rem;
  background: #4a90e1;
  border-radius: 50%;
  display: block;
  transition: 0.5s cubic-bezier(0.5, -0.5, 1, 1);
  /* i 元素纵向通过 cubic-bezier 实现抛物线 - 矩阵贝塞尔曲线*/
}
