[submodule "React/React-source"]
        path = React/React-source
        url = https://github.com/ceilf6/react
[submodule "JS/V8engine-source"]
        path = JS/V8engine-source
	url = https://github.com/ceilf6/v8
[submodule "Browser/Chromium-source"]
	path = Browser/Chromium-source
	url = https://github.com/ceilf6/chromium
[submodule "NodeJS/Libuv-source"]
	path = NodeJS/Libuv-source
	url = https://github.com/ceilf6/libuv
[submodule "Vue2/Vue2-source"]
	path = Vue2/Vue2-source
	url = https://github.com/ceilf6/vue
[submodule "Vue3/Vue3-source"]
	path = Vue3/Vue3-source
	url = https://github.com/ceilf6/core
[submodule "React/ahooks"]
	path = React/Ahooks-source
	url = https://github.com/ceilf6/hooks
[submodule "AI/3-Application/FrontAgent-app"]
	path = AI/3-Application/FrontAgent-app
	url = https://github.com/ceilf6/FrontAgent
	branch = develop
[submodule "AI/2-AI-infra/LLM-SDK/Langchain-source"]
	path = AI/2-AI-infra/LLM-SDK/Langchain-source
	url = https://github.com/ceilf6/langchain
[submodule "Vue3/Pinia"]
	path = Vue3/Pinia-source
	url = https://github.com/ceilf6/pinia
[submodule "React/mini-react-app"]
	path = React/mini-react-app
	url = https://github.com/ceilf6/mini-react
[submodule "AI/3-Application/Openclaw-source"]
	path = AI/3-Application/Openclaw-source
	url = https://github.com/ceilf6/openclaw
[submodule "NodeJS/Node-source"]
	path = NodeJS/Node-source
	url = https://github.com/ceilf6/node
	branch = main
	shallow = true
[submodule "AI/3-Application/Claude-Code-source"]
	path = AI/3-Application/Claude-Code-source
	url = https://github.com/ceilf6/cc-source
[submodule "AI/2-AI-infra/ceilf6-skills-app"]
	path = AI/2-AI-infra/ceilf6-skills-app
	url = https://github.com/ceilf6/skills
[submodule "operating-system-app"]
	path = operating-system-app
	url = https://github.com/ceilf6/SHU-operating-system
